@keyframes blink {
    0% {
        transform: scale(1);
    }

    1% {
        transform: scale(1, 0)
    }

    3% {
        transform: scale(1)
    }
}

.blink {
    display: block;
    position: relative;
    overflow: hidden;
    height: 1em;
    width: 1.4em;
    animation: blink 10s ease-in infinite;
    position: absolute;
    top: 592px;
    left: 300px;
    z-index: 5;
    font-size: 5em;
}

span.eye {
    transform: rotate(45deg) translateY(-0.28em);
    display: inline-block;
    width: 1em;
    height: 1em;
    background: #000;
    border-radius: 100% 0;

    &:before,
    &:after {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        border-radius: 100%;
    }

    &:before {
        height: .5em;
        width: .5em;
        background: #fff;
        margin-top: -.25em;
        margin-left: -.25em;
    }

    &:after {
        height: .25em;
        width: .25em;
        background: #000;
        margin-top: -.125em;
        margin-left: -.125em;
    }
}

/*MOVING BLOCKS FX*/

.animation {
    display: flex;
    justify-content: center;
}

.anm_mod {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    transition: all 1s ease;
}

.anm_mod.full {
    width: 100%;
}

.anm_mod.left {
    transform: translate3d(-100%, 0, 0);
}

.anm_mod.right {
    transform: translate3d(100%, 0, 0);
}

.anm_mod.fromTop {
    transform: translate3d(0, -100%, 0);
}

.anm_mod.delay {
    transition: all 2s ease;
}

.anm_mod.fast {
    transition: all 0.8 ease;
}

.anm_mod.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.org_to_top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.org_to_top a {
    text-decoration: none;
}

.org_to_top .m_to_top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    width: 40px;
    height: 30px;
    box-sizing: border-box;
}

@keyframes jump {
    0% {
        bottom: -5%;
    }

    50% {
        bottom: -10%;
    }

    100% {
        bottom: -5%;
    }
}

