#home {
    height: 80vh;
    min-height: 400px;
    position: relative;
    overflow: hidden;

    h1 {
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: 3em;
        opacity: 0.9;
        position: relative !important;
        overflow: hidden !important;
        top: -20px;
        transition: 1s;

        span {
            font-size: 0.6em;
        }

        &.active {
            text-shadow: 0px 0px 10px white;
        }
    }



    .description,
    .description_static {
        font-size: 1.2em;
        letter-spacing: 1px;
        background: var(--feuer);
        padding: 0.3em 0.7em;
        position: absolute;
        border-radius: 2px;
        top: 60%;
    }

    #arrow-down {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 100%);
        animation: jump 5s infinite;
        width: 100px;
        height: 100px;
        cursor: pointer;
        text-align: center;
        display: block;
        z-index: 2;
        transition: ease-in-out 2s;

        &:hover i {
            color: var(--eis) !important;
            transition: 0.3s ease-in-out;
        }

        &.active {
            transform: translate(-50%, 0);
        }

        i {
            content: '\f0a8';
            font-family: 'FontAwesome';
            font-size: 30px;
            transition: 0.3s ease-in-out;
            color: var(--link);
            cursor: pointer;
        }
    }

}

@media only screen and (max-width: 579px) {

    #home {
        div:nth-of-type(2) {
            margin-top: -70px;
        }

        h1 {
            font-size: 1.8em !important;

            span {
                font-size: 0.5em !important;
            }
        }

        .description {
            border-radius: 0;
            font-size: 1rem;
        }
        
    }
}