#werke {
    .link {
        color: var(--dark);
        &:hover {
            color: var(--eis);
        }
    }
    .btn {
        font-size: 0.8rem;
        border-radius: 3px 3px 0 0;
        margin: 0 1px;
        &.active {
            background: var(--eis) !important;
        }
    }
    .werk {
        width: 25%;
        height: calc(25vw);
        position: relative;
        overflow: hidden;
        &:after {
            content: "";
            display: block;
            background: rgba(1, 1, 1, 0.4);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:hover>.desc {
            transform: translate(-50%, -50%) scale(1.03);
        }
        img {
            transition: .3s;
            height: 100%;
        }
        img.active {
            filter: grayscale(100%) brightness(0.75);
        }
        .desc {
            position: absolute;
            color: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s;
            z-index: 1;
            text-align: center;
            font-size: 1rem;
            padding: 1em 2em;
            margin: 0;
            border: 1.2px solid white !important;
            &:hover {
                cursor: pointer;
            }
            h4 {
                margin: 0;
                padding: 0;
                color: white !important;
            }
        }
    }
    //werk
    .read-more-content {
        display: none;
        &.show {
            display: block;
        }
        .werk {
            display: none;
        }
        .werk.show {
            display: block;
        }
        .closeWerke {
            margin: 1em auto 0 auto;
            display: block;
        }
    }
    .read-more-toggle {
        &.active {
            color: var(--eis) !important;
            border-bottom: 1px solid var(--eis) !important;
        }
        i.active {
            transform: rotate(-90deg);
            color: var(--eis);
        }
    }
}

@media only screen and (max-width: 992px) {
    #werke {
        .werk {
            width: 50%;
            height: calc(50vw);
        }
    }
}

@media only screen and (max-width: 576px) {
    #werke {
        .werk .desc {
            padding: 0.5em 1em;
        }
    }
}