* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none !important;
  outline: 0 !important; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Manrope', sans-serif;
  background: #fff;
  color: var(--light);
  position: relative; }

p {
  letter-spacing: 0.05em;
  line-height: 1.62;
  font-size: 1em;
  margin: 0; }

img {
  width: 100%;
  object-fit: cover; }

:root {
  --brand: #D9C182;
  --silver: #b1b1b1;
  --brandDark: #76622b;
  --brandLight: #fcecc2;
  --link: #c1c1c1;
  --light: #f3f3e7;
  --dark: #232323;
  --blue: #3402a1;
  --grayDark: #454545;
  --redCold: #c92353;
  --btn: #232323;
  --shad1: 0px 2px 7px rgba(21, 21, 51, 0.15);
  --shad2: 0px 3px 12px rgba(131, 131, 154, 0.1);
  --eis: #2D73DD;
  --feuer: #de0845; }

.btn {
  background: var(--btn);
  color: white;
  font-weight: 600;
  padding: 0.5em 1em;
  font-size: 1.1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .btn:hover {
    background: #000000;
    color: white;
    box-shadow: 0 2px 9px #2f39434a; }
  .btn:active {
    background: #999; }

.link {
  color: var(--link) !important;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  font-weight: 600;
  display: inline-block;
  border-bottom: 1px solid var(--silver) !important;
  transition: all .2s; }
  .link:hover {
    color: var(--eis) !important;
    border-bottom: 1px solid var(--eis) !important; }

.container,
.container-fluid {
  position: relative;
  z-index: 1; }

.separator {
  padding: 3em 0;
  display: block; }

.separator hr {
  background: var(--light);
  height: 3px;
  width: 100%;
  display: block; }

.show {
  display: block; }

.hide {
  display: none; }

section {
  width: 100%;
  min-height: 100vh;
  padding: 5em 0;
  position: relative !important;
  overflow: hidden !important;
  display: block; }

/*HEADINGS*/
h2 {
  padding: 0 0 1.5em;
  text-align: center;
  font-size: 3rem;
  font-family: 'Lobster', cursive;
  font-weight: 600;
  color: var(--eis); }

h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 1em;
  margin-bottom: 0.2em;
  color: var(--feuer); }

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.3em; }

.ul-style-1 {
  list-style-type: circle;
  list-style-position: inside;
  line-height: 1.77em;
  margin-bottom: 0 !important; }
  .ul-style-1 span {
    font-weight: 600;
    letter-spacing: 0.5px; }

.dark-theme {
  background: black;
  color: var(--light); }
  .dark-theme h3 {
    color: var(--feuer); }
  .dark-theme h4 {
    color: var(--light); }

.light-theme {
  background: var(--light);
  color: var(--dark); }
  .light-theme h3 {
    color: var(--feuer); }
  .light-theme h4 {
    color: var(--dark); }

.white-theme {
  background: white;
  color: var(--dark); }
  .white-theme h3 {
    color: var(--feuer); }
  .white-theme h4 {
    color: var(--dark); }

.carousel-caption {
  bottom: 0 !important;
  padding-bottom: 10px !important;
  width: 100%;
  margin: 0;
  left: 0;
  position: absolute;
  z-index: 2; }
  .carousel-caption:after {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(11, 11, 11, 0.6);
    z-index: -1;
    content: "";
    top: 0;
    left: 0; }
  .carousel-caption h5 {
    font-weight: 600; }

.carousel-large img {
  width: 100% !important;
  height: 100vh;
  object-fit: cover; }
.carousel-large .carousel-item {
  height: 100vh; }
.carousel-large .carousel-caption {
  min-height: 130px; }

@media only screen and (max-width: 768px) {
  .btn {
    font-size: 1.2rem; }

  h2 {
    font-size: 2.6rem; }

  h3 {
    font-size: 1.6rem; }

  h4 {
    font-size: 1.2rem; } }
@media only screen and (max-width: 576px) {
  .btn {
    font-size: 1rem; } }
/*MAIN NAVIGATIN*/
.navbar {
  z-index: 3;
  background: rgba(1, 1, 1, 0.6);
  box-shadow: var(--shad1);
  color: var(--brand) !important;
  transition: ease-in-out 0.45s;
  height: 60px; }
  .navbar.active {
    background: rgba(1, 1, 1, 0.9);
    height: 70px; }
  .navbar a {
    color: #c1c1c1 !important;
    font-weight: 600;
    transition: 0.3s; }
    .navbar a:hover {
      color: var(--eis) !important; }
    .navbar a.active {
      color: var(--eis) !important; }
    .navbar a .navbar-brand .colored {
      color: rgba(52, 2, 161, 0.9); }
  .navbar .navbar-brand {
    width: 150px; }
  .navbar .navbar-toggler {
    position: absolute;
    top: 15px;
    right: 10px;
    border: none; }
    .navbar .navbar-toggler:active, .navbar .navbar-toggler:active, .navbar .navbar-toggler:focus, .navbar .navbar-toggler:hover {
      border: none !important;
      outline: none !important; }
    .navbar .navbar-toggler .block {
      width: 24px;
      height: 3px;
      background: #c1c1c1;
      position: absolute;
      transition: 0.25s;
      display: block; }
    .navbar .navbar-toggler .block_1 {
      top: 0; }
    .navbar .navbar-toggler .block_2 {
      top: 50%;
      transform: translate(0, -50%); }
    .navbar .navbar-toggler .block_3 {
      bottom: 0; }
    .navbar .navbar-toggler .active .block_1 {
      top: 40%;
      transform: rotate(45deg);
      background: var(--eis); }
    .navbar .navbar-toggler .active .block_2 {
      opacity: 0; }
    .navbar .navbar-toggler .active .block_3 {
      bottom: 40%;
      transform: rotate(-45deg);
      background: var(--feuer); }
    .navbar .navbar-toggler #toggle-icon {
      height: 18px;
      width: 20px;
      display: block;
      position: relative; }

@keyframes blink {
  0% {
    transform: scale(1); }
  1% {
    transform: scale(1, 0); }
  3% {
    transform: scale(1); } }
.blink {
  display: block;
  position: relative;
  overflow: hidden;
  height: 1em;
  width: 1.4em;
  animation: blink 10s ease-in infinite;
  position: absolute;
  top: 592px;
  left: 300px;
  z-index: 5;
  font-size: 5em; }

span.eye {
  transform: rotate(45deg) translateY(-0.28em);
  display: inline-block;
  width: 1em;
  height: 1em;
  background: #000;
  border-radius: 100% 0; }
  span.eye:before, span.eye:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    border-radius: 100%; }
  span.eye:before {
    height: .5em;
    width: .5em;
    background: #fff;
    margin-top: -.25em;
    margin-left: -.25em; }
  span.eye:after {
    height: .25em;
    width: .25em;
    background: #000;
    margin-top: -.125em;
    margin-left: -.125em; }

/*MOVING BLOCKS FX*/
.animation {
  display: flex;
  justify-content: center; }

.anm_mod {
  opacity: 0;
  transform: translate3d(0, 100%, 0);
  transition: all 1s ease; }

.anm_mod.full {
  width: 100%; }

.anm_mod.left {
  transform: translate3d(-100%, 0, 0); }

.anm_mod.right {
  transform: translate3d(100%, 0, 0); }

.anm_mod.fromTop {
  transform: translate3d(0, -100%, 0); }

.anm_mod.delay {
  transition: all 2s ease; }

.anm_mod.fast {
  transition: all 0.8 ease; }

.anm_mod.active {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.org_to_top {
  position: fixed;
  bottom: 20px;
  right: 20px; }

.org_to_top a {
  text-decoration: none; }

.org_to_top .m_to_top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  width: 40px;
  height: 30px;
  box-sizing: border-box; }

@keyframes jump {
  0% {
    bottom: -5%; }
  50% {
    bottom: -10%; }
  100% {
    bottom: -5%; } }
#home {
  height: 80vh;
  min-height: 400px;
  position: relative;
  overflow: hidden; }
  #home h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    opacity: 0.9;
    position: relative !important;
    overflow: hidden !important;
    top: -20px;
    transition: 1s; }
    #home h1 span {
      font-size: 0.6em; }
    #home h1.active {
      text-shadow: 0px 0px 10px white; }
  #home .description,
  #home .description_static {
    font-size: 1.2em;
    letter-spacing: 1px;
    background: var(--feuer);
    padding: 0.3em 0.7em;
    position: absolute;
    border-radius: 2px;
    top: 60%; }
  #home #arrow-down {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    animation: jump 5s infinite;
    width: 100px;
    height: 100px;
    cursor: pointer;
    text-align: center;
    display: block;
    z-index: 2;
    transition: ease-in-out 2s; }
    #home #arrow-down:hover i {
      color: var(--eis) !important;
      transition: 0.3s ease-in-out; }
    #home #arrow-down.active {
      transform: translate(-50%, 0); }
    #home #arrow-down i {
      content: '\f0a8';
      font-family: 'FontAwesome';
      font-size: 30px;
      transition: 0.3s ease-in-out;
      color: var(--link);
      cursor: pointer; }

@media only screen and (max-width: 579px) {
  #home div:nth-of-type(2) {
    margin-top: -70px; }
  #home h1 {
    font-size: 1.8em !important; }
    #home h1 span {
      font-size: 0.5em !important; }
  #home .description {
    border-radius: 0;
    font-size: 1rem; } }
#was .info-box {
  box-shadow: var(--shad2);
  width: 800px;
  color: var(--dark); }
  #was .info-box h3 {
    color: var(--feuer);
    margin-bottom: 0.5em; }
  #was .info-box img {
    width: initial;
    height: auto; }

@media only screen and (max-width: 768px) {
  .info-box {
    width: 100% !important; }
    .info-box h3 {
      font-size: 1.6em; } }
#beratung {
  position: relative;
  height: 100vh;
  background: #000;
  padding: 0 !important; }
  #beratung h3 {
    font-size: 2.2em;
    font-weight: 500;
    color: black; }
  #beratung p {
    color: white;
    font-size: 1.3em;
    text-transform: uppercase;
    background: var(--feuer);
    display: inline-block;
    position: relative;
    margin-bottom: 1.2em;
    padding: 0.7em;
    text-align: center;
    position: relative;
    font-weight: 900; }
    #beratung p:nth-child(1) {
      transform: rotate(-3deg);
      margin-left: -2em; }
    #beratung p:nth-child(2) {
      transform: rotate(0deg);
      margin-left: 1em; }
    #beratung p:nth-child(3) {
      transform: rotate(2deg);
      margin-left: -5em; }
    #beratung p:nth-child(4) {
      transform: rotate(0deg);
      margin-left: 2em; }
  #beratung .l-side {
    width: 30%;
    background: url("https://webfoundation.org/docs/2019/09/Meaningful-Connectivity.jpg");
    background-size: cover;
    position: relative; }
    #beratung .l-side:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(1, 1, 1, 0.6);
      z-index: 0;
      content: ""; }
    #beratung .l-side p {
      position: relative;
      z-index: 1;
      cursor: default; }
  #beratung .r-side {
    background: url(../../img/confused.jpg);
    background-position: -100px -200px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%; }
    #beratung .r-side div {
      background: var(--light); }

@media only screen and (max-width: 768px) {
  #beratung .l-side,
  #beratung .r-side {
    width: 100%; }
  #beratung .l-side {
    height: 50vh; }
    #beratung .l-side p {
      font-size: 1em; }
  #beratung .r-side {
    height: 50vh;
    background-position: -150px 0; }
  #beratung h3 {
    font-size: 1.7rem; }
  #beratung .btn {
    max-width: 500px; } }
@media only screen and (max-width: 768px) {
  #beratung h3 {
    font-size: 1.5rem; } }
#werke .link {
  color: var(--dark); }
  #werke .link:hover {
    color: var(--eis); }
#werke .btn {
  font-size: 0.8rem;
  border-radius: 3px 3px 0 0;
  margin: 0 1px; }
  #werke .btn.active {
    background: var(--eis) !important; }
#werke .werk {
  width: 25%;
  height: calc(25vw);
  position: relative;
  overflow: hidden; }
  #werke .werk:after {
    content: "";
    display: block;
    background: rgba(1, 1, 1, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  #werke .werk:hover > .desc {
    transform: translate(-50%, -50%) scale(1.03); }
  #werke .werk img {
    transition: .3s;
    height: 100%; }
  #werke .werk img.active {
    filter: grayscale(100%) brightness(0.75); }
  #werke .werk .desc {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    z-index: 1;
    text-align: center;
    font-size: 1rem;
    padding: 1em 2em;
    margin: 0;
    border: 1.2px solid white !important; }
    #werke .werk .desc:hover {
      cursor: pointer; }
    #werke .werk .desc h4 {
      margin: 0;
      padding: 0;
      color: white !important; }
#werke .read-more-content {
  display: none; }
  #werke .read-more-content.show {
    display: block; }
  #werke .read-more-content .werk {
    display: none; }
  #werke .read-more-content .werk.show {
    display: block; }
  #werke .read-more-content .closeWerke {
    margin: 1em auto 0 auto;
    display: block; }
#werke .read-more-toggle.active {
  color: var(--eis) !important;
  border-bottom: 1px solid var(--eis) !important; }
#werke .read-more-toggle i.active {
  transform: rotate(-90deg);
  color: var(--eis); }

@media only screen and (max-width: 992px) {
  #werke .werk {
    width: 50%;
    height: calc(50vw); } }
@media only screen and (max-width: 576px) {
  #werke .werk .desc {
    padding: 0.5em 1em; } }
#wir .link {
  margin: 0 0.5em !important;
  display: block;
  transition: all .2s;
  border-bottom: none !important; }
  #wir .link:hover {
    color: var(--eis); }
  #wir .link i {
    font-size: 1.5rem; }
#wir .carousel-caption {
  bottom: 0 !important;
  padding-bottom: 10px !important;
  width: 100%;
  margin: 0;
  left: 0;
  position: absolute;
  z-index: 2; }
  #wir .carousel-caption:after {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(11, 11, 11, 0.6);
    z-index: -1;
    content: "";
    top: 0;
    left: 0; }
  #wir .carousel-caption h5 {
    font-weight: 600; }

#warum h4 {
  color: var(--dark); }
  #warum h4 i {
    color: var(--dark); }

#myForm {
  max-width: 580px;
  display: block;
  margin: 0 auto;
  color: var(--grayDark);
  font-weight: 500;
  padding: 30px 15px;
  box-shadow: var(--shad2); }
  #myForm .btn {
    background-color: var(--btn);
    color: white; }
  #myForm textarea {
    min-height: 220px; }
  #myForm input::placeholder,
  #myForm textarea::placeholder {
    color: var(--link); }
  #myForm input,
  #myForm textarea {
    color: black;
    border: 1px solid var(--light) !important; }
  #myForm .col-form-label:first-child {
    padding-top: 0; }
  #myForm .input-group > .custom-file,
  #myForm .input-group > .custom-select,
  #myForm .input-group > .form-control,
  #myForm .input-group > .form-control-plaintext {
    background: var(--light); }
  #myForm .form-control.active {
    opacity: 0; }

/*FOOTER*/
.footer {
  width: 100%;
  height: 100px;
  background: #000; }
  .footer .link {
    margin: 0 0.5em 0 0.5em !important; }

/*# sourceMappingURL=style.css.map */
